@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/*etc code to stylize each web page*/

body {
    font-family: 'Mulish';
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    width: 70%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #000000; 
}

hr {
    width: 70%;
}

/*header styles - used across all web pages */

header {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 160px;
    justify-content: space-around;
    background: #22181C;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.link {
    font-size: 28px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 150px;
    text-align: center
}

a:hover {
    color: tomato;
}

.nav {
    display: flex;
    align-items: center;
}

#headerlogo {
    width: 150px;
    height: 150px;
    border: 4px solid #000000;
    border-radius: 5px;
}

#header-title {
    font-family: 'Lobster';
    align-self: center;
    font-size: 48px;
}

/* FIRST SECTION Map section */

#map, #form, #contact{
    background-color: rgb(114, 110, 110);
    border-radius: 5px;
    margin: 0px 5px 5px 0px;
    padding: 5px;
    border: 2px solid beige;
}

#map {
    max-width: fit-content;
}

#map p {
    width: 600px;
}

/*SECOND SECTION Form section*/

#form {
    float: left;
    width: 45%;
}

#contact {
    float: left;
    height: 282px;
}

.form-boxes {
     display: inline-block;
}
/* footer styles - used across all web pages */

footer {
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 150px;
    justify-content: space-around;
    background: #646464da;
    border-radius: 5px;
}

#footerlogo {
    align-self: center;
    width: 100px;
    height: 100px;
    border: 4px solid #000000;
    border-radius: 5px;
}

#copyright {
    width: 250px;
    font-size: 12px;
    display: flex;
    align-self: flex-end;
}

.footnav {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: rgb(255, 255, 255);
    padding: 5px;
}

#end {
    display: flex;
    align-self: flex-end;
    width: 175px;
    margin-bottom: 18px;
}

#social {
    justify-content: space-between;
    width: 125px;
    display: flex;
    align-self: flex-end;
    margin-bottom: 10px;
}

.fa {
    text-decoration: none;
    color: silver;
}
