@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/*Body properties used in all web pages. Some examples include:

Importing two additional font styles (see above)

Background image of mango leaves with cover property so it covers the entire container

Made each page have 70% width to leave some space on the side, as well as set the margin to 0 auto so that the content sits directly in the center and it the 
header and footer touch the top/bottom*/

body {
    font-family: 'Mulish';
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    width: 70%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #000000; 
}

hr {
    width: 70%;
}

/*first instance of display:flex, which is a neat property that gives you the ability to move items within a container much easier.
You will see section IDs below that will have different flex properties. Here are some examples I used in my project:

Display: Flex - Will define a container as flex and will allow flex properties to be implemented.

Flex-Direction - Will choose the direction that the flex items (direct children) will be placed. Default setting is row.

Justify-Content - This defines the alignment of the flex items (direct children) on your main axis and will distribute extre space leftover. Depending on your Flex-Direction setting, 
your main axis could be either Y or X.

Align-Items - Similar to Justify-Content, but for the cross axis (the opposite of the main).

Flex-Grow - This gives flex items the ability to flex to fill up the available space.
*/

section {
    display: flex;
    border-radius: 5px;
}

/*header styles - used across all web pages */

header {
    font-family: Arial, Helvetica, sans-serif;
    display: flex; /*This container's height will now be as tall as the tallest item within, and I can now use other flex properties*/
    justify-content: space-around; /*This is creating space around each container within my header */
    background: #22181C;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#headerlogo {
    width: 150px;
    height: 150px;
    border: 4px solid #000000;
    border-radius: 5px;
}

#header-title {
    font-family: 'Lobster';
    align-self: center;
    font-size: 48px;
}

.link {
    font-size: 28px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 150px;
    text-align: center
}

#nav {
    display: flex;
    align-items: center;
}

a:hover{
    color: tomato;
}

/*FIRST SECTION*/

#hero {
    height: 900px;
    background-image: url(../images/hero-image75.png);
    justify-content: center;
    background-size: cover;
}

.title {
    margin: 15px;
    font-size: 36px;
    font-weight: bold;
    align-self: center;
    text-align: center;
}

button {
    margin-bottom: 15px;
	width: 112px;
	height: 42px;
	background: #29323d;
	color: #ffffff;
	border-radius: 21px;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}

button:hover {
    color: rgb(64, 184, 90);
}

/* SECOND SECTION */

#only-frozen {
    background-image: linear-gradient(270deg, #BF4E30, rgba(255, 255, 0, 0.247));
    border-radius: 5px;
    flex-direction: column; /* This is so the items within this container are placed on top of each other. */
}

.title2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

#only-frozen-bottom {
    text-align: center;
    justify-content: space-around;
    display: flex; /* Adding this overrides the flex-direction from before and places the items within as a row. */
}

.mango {
    height: 250px;
    width: 250px;
    border-radius: 5%;
    border: 2px solid black;
}

/* THIRD SECTION */

#reviews{
    background-image: linear-gradient(90deg, #BF4E30, rgba(255, 255, 0, 0.247));
    border-radius: 5px;
    flex-direction: column;
}

#review-bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.reviewbg {
    height: 390px;
    width: 204px;
    background-color: #C6FFAA;
    border-radius: 5%;
    color: #000000;
    text-shadow: none;
    margin-bottom: 20px;
}

.review {
    width: 200px;
    height: 300px;
    border: 2px solid black;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

/* FOOTER */

footer {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 150px;
    justify-content: space-around;
    background: #646464da;
    border-radius: 5px;
}

#footerlogo {
    align-self: center;
    width: 100px;
    height: 100px;
    border: 4px solid #000000;
    border-radius: 5px;
}

#copyright {
    width: 250px;
    font-size: 12px;
    display: flex;
    align-self: flex-end;
}

#social {
    justify-content: space-between;
    width: 125px;
    display: flex;
    align-self: flex-end;
    margin-bottom: 10px;
}

.fa {
    text-decoration: none;
    color: silver;
}

.footnav {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: rgb(255, 255, 255);
    padding: 5px;
    width: 40px;
}

#end {
    align-self: flex-end;
    width: 175px;
    margin-bottom: 18px;
}

